.info{
  width: 192rem;

  &__inner{
    width: 140rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-around;
  }

  &__box{
    display: block;
    width: 80rem;
  }

  &__title{
    display: block;
    width: 65.6rem;
    text-align: left;
    margin-bottom: 4rem;
  }

  &__text{
    display: block;
    width: 79.2rem;
    text-align: left;
    margin-bottom: 5.5rem;
  }

  &__paragraph{
    margin-bottom: 5.5rem;
  }

  &__btn{
    display: block;
    width: 26.7rem;
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    text-decoration: none;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
  }
}
