.realization{
  width: 192rem;

  &__wrap{
    display: block;
    width: 140rem;
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  &__title{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8rem;
  }

  &__inner{
    width: 140rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15rem;
  }

  &__img{
    width: 65.8rem;
    height: 43.6rem;
    margin-right: 20rem;
  }

  &__box{
    display: block;
    width: 66.9rem;
    text-align: left;
  }

  &__paragraph{
    margin-bottom: 5.5rem;
  }

  &__text{
    display: block;
    width: 96.9rem;
    margin: 0 auto;
    padding-top: 10rem;
    margin-bottom: 8rem;
    border-top: 1px solid #D3D3D3;
    position: relative;

    &::before{
      content: "";
      display: block;
      width: 96.9rem;
      border: 1px solid #D3D3D3;
      position: absolute;
      top: 40rem;
      left: 0rem;
    }
  }

  &__btn{
    display: block;
    width: 26.75rem;
    margin: 0 auto;
    margin-bottom: 28rem;
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    text-decoration: none;
    background: #000000;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
  }
}
